* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  background-size: cover;
  color: whitesmoke;
  width: 100%;
  overflow-x: hidden;
}

h5{
  font-family: "Style Script", cursive;
}
/*NAVEGADOR */
nav {
  width: 100%;
  background-color: rgba(0,0,0,0.45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

#LOGO {
  height: 10rem;
}

.nav_redes {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 3rem;
}
.nav_redes p{
  font-size: 1rem;
}
/*HEAD CABECERA*/
#head {
  background-image: url(/Recursos/upscalemedia-transformed.jpeg);
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#titulo {
  margin-top: auto;
  margin-bottom: 40px;
}

#titulo h1 {
  text-align: center;
  font-size: 5.5rem;
  font-family: "Style Script", cursive;
  text-shadow: 0 4px 10px rgba(0,0,0,0.9);
}

#titulo h4 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Style Script", cursive;
  text-shadow: 0 2px 6px rgba(0,0,0,0.9);
}
/*DIV-RECURSOS-QUIENES-SOMOS SECTION*/
#div_Recursos-Quienes-Somos {
    width: 100vw;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}
#QS-Parrafo{
  width: 40%;
  color: #fff;
  padding: 60px 40px;
}
.imagen{
  width: 60%;
  max-height: 100vh;
  overflow: hidden;
}
.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 900px) {
  #div_Recursos-Quienes-Somos {
    flex-direction: column;;
  }

  #QS-Parrafo {
    width: 100%;
  }
  .imagen {
    width: 100%;
  }

  .imagen img {
    height: auto;
  }
}
/*RECURSOS CONFIGURACION GENERAL */
#div_Recursos {
    width: 100vw;
    margin-top: 50px;
    padding: 20px;
    position: relative;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Reserva-Parrafo1 {
  position: absolute;
  right: 0;
  align-items:start;
  margin: 25px;
}
#Menu-Parrafo {
  position: absolute;
  left: 0;
  margin: 25px;
  flex-direction: column;
  justify-content: center;
  background-color:rgba(0,0,0,0.45);
}
#Reserva-Parrafo1,
#Menu-Parrafo,
#QS-Parrafo, h5 {
  font-size: 5.2rem;
  margin-bottom: 10px;
  text-align: start;
  
  
}
#Menu-Parrafo,
#Reserva-Parrafo1,
p {
  font-size: 2.05rem;
  line-height: 1.8;
  color: #e0e0e0;
  max-width: 500px;
  text-align: start;
}

#Menu-Parrafo,
#Reserva-Parrafo1, button {
  margin-top: 30px;
  padding: 10px 26px;
  font-size: 1.2rem;
  border-radius: 8px;
  width: 100%;
}

#Menu-Parrafo  i {
  font-size: 60px;
  margin-bottom: 25px;
  opacity: 0.85;
}

/*RECURSOS POR DIV*/
.menu{
  background-image: url(/Recursos/mechada-italiana.webp);  
  height: 800px;
}
.reservas{
    background-image: url(/Recursos/TablaTra.webp);
    height: 700px;
}


/*DIV ENCUENTRANOS + MAPS + FONO + UBICACION + REDES */
.div_Recursos-Encuentranos{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;

}
.Maps-Recursos{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  gap: 10%;
}

#div_map{
  width: 50%;
  justify-items: center;
}
#div_redes{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  gap: 40px;
  margin-top: 90px;
  width: 40%;
  justify-items: center;
}

#map {
  width: 100%;
  height: 450px;
  border-radius: 15px;
}
@media (max-width: 900px) {
  .Maps-Recursos{
    flex-direction: column;;
    gap: 20px;
  }
  #div_redes{
    width: 100%;
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  #div_map {
    justify-items: center;
    gap: 20px;
    width: 100%;
  }

}




footer {
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #aaa;
}

