* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h5, h2, h1, h3{
  font-family: "Style Script", cursive;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
}
#menu-la-mechada-real{
    text-align: center;
}
.promo-img {
    flex: 1;
    position: relative;
}

.promo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BADGE PROMOCIÓN */
.promo-badge {
    position: absolute;
    top: 25px;
    left: -10px;
    background: linear-gradient(45deg, #ffc107, #ff9800);
    color: #000;
    font-weight: 900;
    font-size: 20px;
    padding: 12px 35px;
    transform: rotate(-8deg);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    border-radius: 8px;
    letter-spacing: 1px;
}
.promo-detail {
   background: none;
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Encabezado */
.promo-header {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nombre */
.promo-header h2 {
    font-size: 38px;
    font-weight: 800;
    margin: 0;
}

/* Precio dominante */
.promo-price {
    font-size: 32px;
    font-weight: 900;
    color: #ff9800;
}

/* Línea decorativa */
.promo-divider {
    width: 100%;
    height: 5px;
    background: #ffc107;
    margin: 25px 0;
    border-radius: 5px;
}

/* Descripción */
.promo-description {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.wsp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  width: 60px;
  height: 60px;

  background-color: #25D366;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font-size: 35px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
.wsp-float:hover {
  transform: scale(1.1);
}

/*........... DIV NAV..........*/
nav {
  width: 100%;
  background-color: rgba(0,0,0,0.45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 15px;
}
#mobile-menu-btn {
  display: none;
}

#LOGO {
  height: 4rem;
}
.menu-dropdown{
  width: 50%;
  margin-left: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}

.nav_redes {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.nav_redes p{
  justify-items: center;
  align-items: center;
  margin: 0;
}
.nav_redes a{
  color:#ffffff;
}
.nav_redes a:hover{
  transform: scale(1.5);
  color:#b22323;
}
.menu-dropdown a{
  color: white;
  text-decoration: none;
}

.menu-dropdown a:hover{
  transform: scale(1.2);
}

/* NAV LATERAL FLOTANTE AL HACER SCROLL*/
.nav-lateral {
  position: fixed;
  right: 20px;
  top: 65%;
  transform: translateY(-50%); /* ← ESTE es el translate clave */
  
  width: auto;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  padding: 8px 6px;
  border-radius: 30px;
  z-index: 999;

  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.nav-lateral .menu-dropdown {
  margin: 0;
  flex-direction: column;
  width: auto;
  justify-content: center;
}
.nav-lateral .nav_redes p {
  display: none;
}






@media (max-width: 768px) {

  body {
    overflow-x: hidden;

  }

  nav {
  overflow:visible;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,0.65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 9999; /* importante */
}

/* Botón */
#mobile-menu-btn {
  display: block;
  background: none;
  border: none;
  color: white;
  width: auto;
  margin-top: 0;
  height: auto;
  font-size: auto;
  box-shadow: none;
}

/* Ocultar todo menos botón y redes */
#Menu,
#Reservas,
#contactanos,
#LOGO {
  display: none;
}

/* Redes arriba */
.nav_redes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_redes p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* ESTADO ABIERTO */
.menu-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.45);
  display: none;
  flex-direction: column;
  padding: 20px;
}

nav.open .menu-dropdown {
  display: flex;
}

nav.open #Menu,
nav.open #Reservas,
nav.open #contactanos {
  display: block;
  padding: 10px 0;
}
nav.open #Menu:hover {
  transform: scale(1.05);}
nav.open #Reservas:hover {
  transform: scale(1.05);
}
nav.open #contactanos:hover {
  transform: scale(1.05);
}

nav.open .nav_redes {
  margin-top: 10px;}
}

.categoria-section {
    padding: 60px 20px;
}

.categoria-flex {
    display: flex;
    align-items: center;
    gap: 40px;
  
}

.categoria-imagen {
    flex: 1;
   
}

.categoria-imagen img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.categoria-lista {
    flex: 1;
}

.categoria-lista h2 {
    margin-bottom: 20px;
}

.producto-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

/* Responsive */
@media (max-width: 768px) {
    .categoria-flex {
        flex-direction: column;
    }
  
}

/* CONTENEDOR GENERAL DEL SLIDE */
.promo-container {
    display: flex;
    align-items: stretch;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 15px 10px rgb(255, 255, 255,0.20);
    margin: 40px auto;
    max-width: 900px;
    background-color: whitesmoke;
    
}
.header-carrusel-titulo{
    background-image: url(/Recursos/101851.webp);
    padding-bottom: 10px;
}

.header-carrusel-titulo h1{
    color: white;
}
#navbar {
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}
.btn-nav{
    border: none;
    background: none;
    color: #ff9800;
    font-size: xx-large;
    margin: 8px;
}
.btn-nav:hover{
    transform: scale(1.2);
}




/* RESPONSIVE */
@media (max-width: 768px) {
    .promo-container {
        flex-direction: column;
    }

    .promo-detail {
        padding: 30px;
    }
    #navbar {
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    gap: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: center;
    }
    .btn-nav{
    border: none;
    background: none;
    color: #ff9800;
    font-size: medium;
    margin: 0;
    }
    .btn-nav:hover{
        transform: scale(1.2);
    }
}

footer{
    text-align: center;
    background-color:  rgba(0,0,0,0.15);
}




